<div class="home-hero">
  <h1>Welcome to Our Genealogy App</h1>
  <p class="subheading">Explore your family history and connect with your ancestors.</p>

  <div>
    <%= link_to 'Login', new_user_session_path, class: "btn btn-primary" %>
    <%= link_to 'Sign Up', new_user_registration_path, class: "btn btn-secondary" %>
  </div>
</div>
