<div class="container">
  <footer class="row row-cols-5 py-5 my-5 border-top">
    <div class="col">
      <a href="<%= root_path %>" class="d-flex align-items-center mb-3 link-dark text-decoration-none">Genealogy App</a>
      <p class="bi text-muted">@ 2024</p>
    </div>
  </footer>
</div>